*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(228, 11%, 9%, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.body-container{
    background: linear-gradient(90deg, hsla(215, 22%, 15%, 1) 0%, hsla(215, 27%, 12%, 1) 100%);
    width: 50vh;
    padding: 20px;
    border-radius: 10px;
    margin: 0px 20px;
}

.before-submit > *{
    margin: 10px 0px;
}

.icon-wrapper{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #262E39;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper svg{
    height: 25px;
    width: 25px;
    fill: #FC7613;
}

.text-wrapper h1, .text-wrapper p{
    color: #D9D8D7;    
}


.rating-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
}

.rating{
    height: 3rem;
    width: 3rem;
    background-color: #262E39;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
}


.rating:hover{
    background-color: #FC7613;
}


.rating.active{
    background-color: #7C8898;
}


.submit-wrapper{
    margin-top: 20px;
}


.submit-btn{
    display: block;
    width: 100%;
    background-color: #FC7613;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
}


.before-submit.hide{
    display: none;
}


.after-submit.hide{
    display: none;
}


.after-submit > *{
    margin: 20px 0px;
}


.submitted-rating{
    background-color: #FC7613;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    color: #ffffff;
}


.after-submit .text-wrapper{
    text-align: center;
}